.btn, #website-speed .speed .speed-btn2, #chooseUs .chooseUs-card-item .chooseUs-btn, #solution .solution-btn, #intro .intro-btns .intro-btn1 {
  display: flex;
  color: #fff;
  background-color: rgb(242, 88, 34);
  text-decoration: none;
  padding: 10px;
  width: 140px;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  margin: 37px 27px 0px 70px;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}

.sosial-media, #members .card {
  display: flex;
  justify-content: center;
  margin: 17px 0 50px 0;
}
.sosial-media a, #members .card a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
}
.sosial-media a:not(:last-child), #members .card a:not(:last-child) {
  margin-right: 10px;
}
.sosial-media a:hover, #members .card a:hover {
  background-color: rgb(242, 88, 34);
}
.sosial-media a:hover .icon, #members .card a:hover .icon {
  color: #fff;
}
.sosial-media .icon, #members .card .icon {
  display: flex;
  font-size: x-small;
  color: rgb(136, 136, 136);
  justify-content: center;
  align-items: center;
}

#header li {
  margin-right: 20px;
}
#header a:hover {
  color: rgb(242, 88, 34);
}
#header .btn, #header #website-speed .speed .speed-btn2, #website-speed .speed #header .speed-btn2, #header #chooseUs .chooseUs-card-item .chooseUs-btn, #chooseUs .chooseUs-card-item #header .chooseUs-btn, #header #solution .solution-btn, #solution #header .solution-btn, #header #intro .intro-btns .intro-btn1, #intro .intro-btns #header .intro-btn1 {
  margin: 0;
  border: none;
}

#intro {
  width: auto;
  height: auto;
  background-image: url(../img/intro-bg-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  position: relative;
  margin-top: 34px;
}
#intro .intro-text .polygon2 {
  position: absolute;
  top: 20%;
  left: 1%;
}
#intro .intro-text .polygon3 {
  position: absolute;
  top: 60%;
  left: 38%;
}
#intro .intro-text .polygon4 {
  position: absolute;
  top: 8%;
  left: 42%;
}
#intro .intro-text h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: rgb(0, 0, 0);
  padding: 100px 20px 20px 0px;
}
#intro .intro-text p {
  height: 48px;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: rgb(136, 136, 136);
}
#intro .intro-text span {
  border: 1px solid rgb(242, 88, 34);
  border-radius: 90%;
}
#intro .intro-btns {
  position: relative;
  margin-bottom: 100px;
}
#intro .intro-btns .intro-btn1 {
  margin: 37px 27px 0px 0px;
}
#intro .intro-btns .intro-btn2 {
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  line-height: 18px;
  color: rgb(136, 136, 136);
  margin-top: 37px;
}
#intro .intro-btns .intro-btn2::after {
  position: absolute;
  content: url(../img/icon/intro-polygon1.svg);
  top: 54px;
  left: 184px;
}
#intro .intro-btns .video-img {
  margin-right: 15px;
}

#brands {
  width: auto;
  height: auto;
}
#brands .brand-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 97px 0px 96px 0px;
}

#solution {
  width: auto;
  height: auto;
  background-color: #fafafa;
  background-image: url(../img/solution-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 100px;
}
#solution h1 {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
  color: rgb(0, 0, 0);
  margin: 127px 0 20px 0;
  z-index: 1;
}
#solution p {
  font-size: 16px;
  line-height: 150%;
  color: rgb(136, 136, 136);
}
#solution .solution-btn {
  margin: 51px 0 124px 0;
}

#card {
  width: auto;
}
#card .cards-item {
  height: auto;
  border: none;
  margin-bottom: 100px;
  padding: 30px;
}
#card .cards-item .card-img {
  width: 70px;
  height: 70px;
  background-color: rgba(242, 88, 34, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#card .cards-item h5 {
  font-size: 24px;
  line-height: 28px;
  margin: 25px 0 17px 0;
}
#card .cards-item p {
  font-size: 15px;
  line-height: 150%;
  color: #666666;
}
#card .cards-item .card-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 11px;
  line-height: 150%;
  font-weight: 700;
}
#card .cards-item:hover {
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

#chooseUs {
  width: auto;
  background-color: #fafafa;
}
#chooseUs .chooseUs-title {
  justify-content: center;
  margin: 92px auto 50px auto;
}
#chooseUs .chooseUs-title h1 {
  text-align: center;
  margin-bottom: 19px;
  font-size: 45px;
  line-height: 53px;
}
#chooseUs .chooseUs-title p {
  text-align: center;
  color: rgb(136, 136, 136);
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  font-weight: 300;
}
#chooseUs .chooseUs-title p span {
  display: block;
}
#chooseUs .chooseUs-card-item {
  background: #ffffff;
  border: none;
  margin-bottom: 100px;
}
#chooseUs .chooseUs-card-item h5 {
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}
#chooseUs .chooseUs-card-item .third-h5 {
  margin-top: 10px;
}
#chooseUs .chooseUs-card-item p {
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  word-spacing: 5px;
  color: #aaaaaa;
  font-weight: 300;
  margin-top: 22px;
}
#chooseUs .chooseUs-card-item .chooseUs-btn {
  margin: 40px auto;
}
#chooseUs .chooseUs-card-item:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

#SEO {
  width: auto;
}
#SEO .SEO-content {
  margin-top: 50px;
}
#SEO .SEO-content h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 19px;
}
#SEO .SEO-content h1 span {
  display: block;
}
#SEO .SEO-content p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  font-weight: 300;
  padding-right: 100px;
}
#SEO .SEO-content .SEO-box-item {
  display: flex;
  padding: 20px;
}
#SEO .SEO-content .SEO-box-item .social-media, #SEO .SEO-content .SEO-box-item .seo-optimization, #SEO .SEO-content .SEO-box-item .email-marketing {
  height: 100px;
  width: 150px;
  border-radius: 50%;
  background-color: #fcd5c8;
  background-image: url(../img/icon/social-media.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#SEO .SEO-content .SEO-box-item h6 {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: rgb(0, 0, 0);
  padding: 0 20px;
}
#SEO .SEO-content .SEO-box-item p {
  font-size: 15px;
  line-height: 150%;
  color: #666666;
  padding: 0 120px 0 20px;
}
#SEO .SEO-content .SEO-box-item .email-marketing {
  background-image: url(../img/icon/email.svg);
  background-color: #bde0bc;
}
#SEO .SEO-content .SEO-box-item .seo-optimization {
  background-image: url(../img/icon/seo.svg);
  background-color: #fff3c9;
}
#SEO .SEO-content .SEO-box-item:hover {
  box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}

#stats {
  width: auto;
  margin-top: 100px;
}
#stats .stats {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  justify-content: space-around;
  margin-bottom: 40px;
}
#stats .stats .stats-item {
  padding: 40px;
}
#stats .stats .stats-item h1 {
  font-size: 70px;
  line-height: 150%;
  color: #666666;
  font-weight: 700;
  text-align: center;
}
#stats .stats .stats-item p {
  font-size: 18px;
  line-height: 150%;
  color: #666666;
  font-weight: 400;
  text-align: center;
}

#website-speed {
  width: auto;
}
#website-speed .speed h1 {
  font-size: 45px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-top: 200px;
}
#website-speed .speed p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  padding-right: 140px;
  font-weight: 300;
  margin-bottom: 50px;
}
#website-speed .speed .website-speed-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: baseline;
  margin-bottom: 138px;
}
#website-speed .speed .website-speed-btns input {
  width: 190px;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  background-color: #eeeeee;
  color: rgb(136, 136, 136);
  border: none;
}
#website-speed .speed .website-speed-btns input:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 1.5px solid #cccccc;
}
#website-speed .speed .website-speed-btns .email {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-right: 29px;
}
#website-speed .speed .speed-btn2 {
  display: inline-block;
  border: none;
  margin: 0;
}
#website-speed .speed-img {
  margin-top: 80px;
}

#plans {
  width: auto;
  background-color: #fafafa;
}
#plans .plans-title {
  margin-bottom: 80px;
}
#plans .plans-title h1 {
  font-size: 45px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  text-align: center;
  margin-top: 87px;
}
#plans .plans-title p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  font-weight: 300;
  text-align: center;
}
#plans .card {
  margin-bottom: 120px;
  border: none;
  align-self: baseline;
}
#plans .card h5 {
  text-align: center;
  margin: 40px 0 30px 0;
}
#plans .card .price {
  display: flex;
  justify-content: center;
}
#plans .card .price .usd {
  align-self: flex-start;
  padding: 20px 5px;
}
#plans .card .price .mounth {
  align-self: center;
  padding-top: 10px;
}
#plans .card h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 80px;
}
#plans .card p {
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  color: #666666;
  font-weight: 300;
}
#plans .card .plans-btn {
  width: 200px;
  margin-bottom: 30px;
  justify-content: center;
  border: none;
  margin: 40px auto;
  background: rgba(242, 88, 34, 0.25);
  color: rgb(242, 88, 34);
}
#plans .card:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
}

#members {
  width: auto;
}
#members .members-title {
  text-align: center;
  margin: 86px auto 52px auto;
}
#members .members-title h1 {
  font-size: 45px;
  line-height: 150%;
  color: rgb(0, 0, 0);
}
#members .members-title p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  padding: 0 100px;
}
#members .members-title p span {
  display: block;
}
#members .card:hover {
  box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
  border: none;
}
#members .card:hover h4 {
  color: rgb(242, 88, 34);
}
#members .card {
  margin-bottom: 80px;
}
#members .card .card-img {
  width: 130px;
  height: 130px;
  margin: 50px auto 14px auto;
}
#members .card h4 {
  font-size: 22px;
  line-height: 150%;
  color: rgb(0, 0, 0);
  text-align: center;
}
#members .card p {
  font-size: 15px;
  line-height: 150%;
  color: #888888;
  text-align: center;
}

#clients {
  width: auto;
  padding: 50px 0;
  margin-top: 90px;
}
#clients .clients-title {
  text-align: center;
  margin-bottom: 50px;
}
#clients .clients-title h1 {
  font-size: 45px;
  line-height: 53px;
  color: rgb(0, 0, 0);
}
#clients .clients-title p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  font-weight: 300;
}
#clients .clients-title p span {
  display: block;
}
#clients .clients-slider-item {
  padding: 30px;
  text-align: center;
  font-size: 15px;
  border: 2px solid #eeeeee;
  margin: 0 15px 20px 15px;
}
#clients .clients-slider-item h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #888888;
}
#clients .clients-slider-item .client-img img {
  border-radius: 50%;
  margin: 25px auto 10px;
}
#clients .clients-slider-item .client-img h5 {
  font-size: 15px;
  line-height: 19.5px;
  margin: 0;
}
#clients .clients-slider-item .client-img h5:last-child {
  color: #888888;
}
#clients .clients-slider-item:hover {
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
}

#news {
  width: auto;
  margin-bottom: 100px;
}
#news .news-title {
  text-align: center;
  margin-bottom: 50px;
}
#news .news-title h1 {
  font-size: 45px;
  line-height: 53px;
  color: rgb(0, 0, 0);
}
#news .news-title p {
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  font-weight: 300;
}
#news .news-title p span {
  display: block;
}
#news .news-slider .news-slider-item {
  display: flex;
  margin: 0 15px 20px 15px;
  border: 2px solid #eeeeee;
  opacity: 50%;
}
#news .news-slider .news-slider-item .news-text {
  padding: 20px;
}
#news .news-slider .news-slider-item .news-text h5 {
  font-size: 24px;
  line-height: 150%;
  color: rgb(0, 0, 0);
}
#news .news-slider .news-slider-item .news-text .postInfo {
  display: flex;
  margin: 22px 0 20px 0;
}
#news .news-slider .news-slider-item .news-text .postInfo .postInfo-item {
  font-size: 11px;
  line-height: 150%;
  color: #888888;
}
#news .news-slider .news-slider-item .news-text .postInfo .postInfo-item:not(:last-child) {
  margin-right: 36px;
}
#news .news-slider .news-slider-item .news-text p {
  font-size: 15px;
  line-height: 150%;
  color: #666666;
  margin-bottom: 26px;
}
#news .news-slider .news-slider-item .news-text a {
  text-decoration: none;
  color: rgb(242, 88, 34);
  font-size: 11px;
  line-height: 150%;
  margin-bottom: 26px;
}
#news .news-slider .news-slider-item:hover {
  box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  opacity: 100%;
}

#footer {
  width: auto;
  background-color: #f3f3f3;
}
#footer p {
  font-size: 16px;
  line-height: 160%;
  color: #666666;
}
#footer h4 {
  font-size: 24px;
  line-height: 160%;
  color: rgb(0, 0, 0);
  margin: 6px 0 45px 0;
}
#footer ul {
  display: block;
  padding: 20px;
}
#footer li:not(:first-child) {
  list-style: inside;
  color: rgb(242, 88, 34);
}
#footer .footnav1 {
  margin: 100px 0 30px 0;
}
#footer .footnav1 li {
  list-style: none;
}
#footer .footnav1 .nav1-item2 {
  margin-top: 40px;
}
#footer .footnav1 .nav1-item2 span {
  display: block;
}
#footer .footnav1 .sosial-media, #footer .footnav1 #members .card, #members #footer .footnav1 .card {
  justify-content: flex-start;
}
#footer .footnav2, #footer .footnav3 {
  margin: 100px 0 30px 0;
}
#footer .footnav2 li a, #footer .footnav3 li a {
  color: #666666;
  text-decoration: none;
}
#footer .footnav2 li:not(:last-child), #footer .footnav3 li:not(:last-child) {
  margin-bottom: 10px;
}
#footer .footnav2 li:last-child, #footer .footnav3 li:last-child {
  margin-bottom: 50px;
}
#footer .footnav4 {
  margin: 100px 0 30px 0;
}
#footer .footnav4 li {
  list-style: none;
}
#footer .footnav4 span {
  color: rgb(0, 0, 0);
}
#footer .footnav4 p {
  line-height: 140%;
}
#footer .copyright {
  border-top: 1px solid lightgray;
}
#footer .copyright p {
  text-align: center;
  margin: 30px auto;
  color: #666666;
}

@media (max-width: 768px) {
  .news-img {
    display: none;
  }
  #intro {
    background-image: none;
  }
  #intro .intro-text .polygon3 {
    position: absolute;
    top: 65%;
    left: 75%;
  }
  #intro .intro-text .polygon4 {
    position: absolute;
    top: 8%;
    left: 80%;
  }
  .stats {
    flex-direction: column;
  }
  .speed-btn2 {
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */