@import "variables";
@import "mixin";

.btn {
  display: flex;
  color: #fff;
  background-color: $primary-color;
  text-decoration: none;
  padding: 10px;
  width: 140px;
  height: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  margin: 37px 27px 0px 70px;
}

body {
  font-family: "Roboto", sans-serif;
  position: relative;
}
// header
#header {
  .item1 a {
    color: $primary-color;
  }
  li {
    margin-right: 20px;
  }
  .btn {
    margin: 0;
    border: none;
  }
}
// intro section
#intro {
  height: auto;
  background-image: url(../img/intro-bg-img.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto;
  position: relative;
  margin-top: 34px;
  .intro-text {
    h1 {
      width: 560px;
      font-weight: bold;
      font-size: 60px;
      line-height: 70px;
      color: $secondary-color;
      padding: 100px 20px 20px 0px;
    }
    p {
      width: 480px;
      height: 48px;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      color: $grey-text;
    }
    span {
      border: 1px solid $primary-color;
      border-radius: 90%;
    }
  }
  .intro-btns {
    position: relative;
    margin-bottom: 100px;
    .intro-btn1 {
      @extend .btn;
      margin: 37px 27px 0px 0px;
    }
    .intro-btn2 {
      height: 50px;
      background-color: transparent;
      border: none;
      font-size: 15px;
      line-height: 18px;
      color: $grey-text;
      margin-top: 37px;
    }
    .intro-btn2::after {
      position: absolute;
      content: url(../img/icon/intro-polygon1.svg);
      top: 54px;
      left: 184px;
    }
    .video-img {
      margin-right: 15px;
    }
  }
  .polygon4 {
    position: absolute;
    top: 50px;
    left: 600px;
  }
}
#intro::before {
  content: url(../img/intro-polygon2.png);
  position: absolute;
  top: 130px;
  left: 5px;
}
#intro::after {
  content: url(../img/intro-polygon3.png);
  position: absolute;
  top: 350px;
  left: 570px;
}
// brands section
#brands {
  .brand-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 97px 0px 96px 0px;
  }
}
// solution section
#solution {
  height: auto;
  background-color: #fafafa;
  background-image: url(../img/solution-vector.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  margin-bottom: 100px;
  h1 {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: $secondary-color;
    margin: 127px 0 20px 0;
    z-index: 1;
  }
  p {
    font-size: 16px;
    line-height: 150%;
    color: $grey-text;
  }
  .solution-btn {
    @extend .btn;
    margin: 51px 0 124px 0;
  }
}
// card section
#card {
  .cards-item {
    height: auto;
    border: none;
    margin-bottom: 100px;
    padding: 30px;
    .card-img {
      width: 70px;
      height: 70px;
      background-color: rgba(242, 88, 34, 0.25);
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h5 {
      font-size: 24px;
      line-height: 28px;
      margin: 25px 0 17px 0;
    }
    p {
      font-size: 15px;
      line-height: 150%;
      color: #666666;
    }
    .card-link {
      text-decoration: none;
      color: $secondary-color;
      font-size: 11px;
      line-height: 150%;
      font-weight: 700;
    }
  }
  .cards-item:hover {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
  }
}
// chooseUs section
#chooseUs {
  background-color: #fafafa;
  .chooseUs-title {
    justify-content: center;
    margin: 92px auto 50px auto;
    h1 {
      text-align: center;
      margin-bottom: 19px;
      font-size: 45px;
      line-height: 53px;
    }
    p {
      text-align: center;
      color: $grey-text;
      font-size: 16px;
      line-height: 150%;
      color: #666666;
      font-weight: 300;
      span {
        display: block;
      }
    }
  }
  .chooseUs-card-item {
    background: #ffffff;
    border: none;
    margin-bottom: 100px;
    h5 {
      font-size: 24px;
      line-height: 28px;
      color: #000000;
      text-align: center;
    }
    p {
      font-size: 15px;
      line-height: 150%;
      text-align: center;
      word-spacing: 5px;
      color: #aaaaaa;
      font-weight: 300;
      margin-top: 22px;
    }
    .chooseUs-btn {
      @extend .btn;
      margin: 39px 120px 40px 100px;
    }
  }
  .chooseUs-card-item:hover {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
  }
}
// SEO section
#SEO {
  .SEO-content {
    margin-top: 50px;
    h1 {
      color: $secondary-color;
      font-size: 40px;
      font-weight: 700;
      line-height: 53px;
      margin-bottom: 19px;
      span {
        display: block;
      }
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      font-weight: 300;
      padding-right: 100px;
    }
    .SEO-box-item {
      display: flex;
      padding: 20px;
      .social-media {
        height: 100px;
        width: 150px;
        border-radius: 50%;
        background-color: #fcd5c8;
        background-image: url(../img/icon/social-media.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
      h6 {
        font-size: 20px;
        font-weight: 700;
        line-height: 150%;
        color: $secondary-color;
        padding: 0 20px;
      }
      p {
        font-size: 15px;
        line-height: 150%;
        color: #666666;
        padding: 0 120px 0 20px;
      }
      .email-marketing {
        @extend .social-media;
        background-image: url(../img/icon/email.svg);
        background-color: #bde0bc;
      }
      .seo-optimization {
        @extend .social-media;
        background-image: url(../img/icon/seo.svg);
        background-color: #fff3c9;
      }
    }
    .SEO-box-item:hover {
      box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
    }
  }
}
// stats section
#stats {
  margin-top: 100px;
  .stats {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
    justify-content: space-around;
    margin-bottom: 40px;
    .stats-item {
      padding: 40px;
      h1 {
        font-size: 70px;
        line-height: 150%;
        color: $grey40;
        font-weight: 700;
        text-align: center;
      }
      p {
        font-size: 18px;
        line-height: 150%;
        color: $grey40;
        font-weight: 400;
        text-align: center;
      }
    }
  }
}
// website-speed section
#website-speed {
  .speed {
    h1 {
      font-size: 45px;
      line-height: 150%;
      color: $secondary-color;
      font-weight: 700;
      margin-top: 200px;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      padding-right: 140px;
      font-weight: 300;
      margin-bottom: 50px;
    }
    .website-speed-btns {
      display: flex;
      justify-content: baseline;
      margin-bottom: 138px;
      input {
        width: 190px;
        align-items: center;
        padding: 0 20px;
        background-color: #eeeeee;
        color: $grey-text;
        border: none;
      }
      input:first-child {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-right: 1.5px solid #cccccc;
      }
      .email {
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        margin-right: 29px;
      }
    }
    .speed-btn2 {
      @extend .btn;
      display: inline-block;
      border: none;
      margin: 0;
    }
  }
  .speed-img {
    margin-top: 80px;
  }
}

// plans section
#plans {
  background-color: #fafafa;
  .plans-title {
    margin-bottom: 80px;
    h1 {
      font-size: 45px;
      line-height: 150%;
      color: $secondary-color;
      font-weight: 700;
      text-align: center;
      margin-top: 87px;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      font-weight: 300;
      text-align: center;
    }
  }
  .card {
    margin-bottom: 120px;
    border: none;
    align-self: baseline;
    h5 {
      text-align: center;
      margin: 40px 0 30px 0;
    }
    .price {
      display: flex;
      justify-content: center;
      .usd {
        align-self: flex-start;
        padding: 20px 5px;
      }
      .mounth {
        align-self: center;
        padding-top: 10px;
      }
    }
    h1 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 80px;
    }
    p {
      font-size: 16px;
      line-height: 180%;
      text-align: center;
      color: $grey40;
      font-weight: 300;
    }
    .plans-btn {
      width: 200px;
      margin-bottom: 30px;
      justify-content: center;
      border: none;
      margin: 40px auto;
      background: rgba(242, 88, 34, 0.25);
      color: $primary-color;
    }
  }
  .card:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
    box-shadow: 15px 25px 70px -5px rgba(0, 0, 0, 0.07);
  }
}
// members section
#members {
  .members-title {
    text-align: center;
    margin: 86px auto 52px auto;
    h1 {
      font-size: 45px;
      line-height: 150%;
      color: $secondary-color;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      padding: 0 100px;
      span {
        display: block;
      }
    }
  }
  .card:hover {
    box-shadow: 15px 20px 50px rgba(0, 0, 0, 0.1);
    border: none;
    h4 {
      color: $primary-color;
    }
  }
  .card {
    margin-bottom: 80px;
    .card-img {
      width: 130px;
      height: 130px;
      margin: 50px auto 14px auto;
    }
    h4 {
      font-size: 22px;
      line-height: 150%;
      color: $secondary-color;
      text-align: center;
    }
    p {
      font-size: 15px;
      line-height: 150%;
      color: #888888;
      text-align: center;
    }
    .sosial-media {
      display: flex;
      justify-content: center;
      margin: 17px 0 50px 0;
      img:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
// clients section
#clients {
  padding: 50px 0;
  margin-top: 90px;
  .clients-title {
    text-align: center;
    margin-bottom: 50px;
    h1 {
      font-size: 45px;
      line-height: 53px;
      color: $secondary-color;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      font-weight: 300;
      span {
        display: block;
      }
    }
  }
  .clients-slider-item {
    padding: 30px;
    text-align: center;
    font-size: 15px;
    border: 2px solid #eeeeee;
    margin: 0 15px 20px 15px;
    h3 {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      color: #888888;
    }
    .client-img {
      img {
        border-radius: 50%;
        margin: 25px auto 10px;
      }
      h5 {
        font-size: 15px;
        line-height: 19.5px;
        margin: 0;
      }
      h5:last-child {
        color: #888888;
      }
    }
  }
  .clients-slider-item:hover {
    box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
  }
}
// news section
#news {
  margin-bottom: 100px;
  .news-title {
    text-align: center;
    margin-bottom: 50px;
    h1 {
      font-size: 45px;
      line-height: 53px;
      color: $secondary-color;
    }
    p {
      font-size: 16px;
      line-height: 150%;
      color: $grey40;
      font-weight: 300;
      span {
        display: block;
      }
    }
  }
  .news-slider {
    .news-slider-item {
      display: flex;
      margin: 0 15px 20px 15px;
      border: 2px solid #eeeeee;
      opacity: 50%;
      .news-text {
        padding: 20px;
        h5 {
          font-size: 24px;
          line-height: 150%;
          color: $secondary-color;
        }
        .postInfo {
          display: flex;
          margin: 22px 0 20px 0;
          .postInfo-item {
            font-size: 11px;
            line-height: 150%;
            color: #888888;
          }
          .postInfo-item:not(:last-child) {
            margin-right: 36px;
          }
        }
        p {
          font-size: 15px;
          line-height: 150%;
          color: $grey40;
          margin-bottom: 26px;
        }
        a {
          text-decoration: none;
          color: $primary-color;
          font-size: 11px;
          line-height: 150%;
          margin-bottom: 26px;
        }
      }
    }
    .news-slider-item:hover {
      box-shadow: 15px 25px 60px -10px rgba(0, 0, 0, 0.1);
      opacity: 100%;
    }
  }
}
// footer
#footer {
  background-color: #f3f3f3;
  p {
    font-size: 16px;
    line-height: 160%;
    color: $grey40;
  }
  h4 {
    font-size: 24px;
    line-height: 160%;
    color: $secondary-color;
    margin: 6px 0 45px 0;
  }
  ul {
    display: block;
    padding: 20px;
  }
  li:not(:first-child) {
    list-style: inside;
    color: $primary-color;
  }
  .footnav1 {
    margin: 100px 0 30px 0;
    li {
      list-style: none;
    }
    .nav1-item2 {
      margin-top: 40px;
      span {
        display: block;
      }
    }
    .sosial-media {
      display: flex;
      justify-content: flex-start;
      margin: 15px 0 50px 0;
      img:not(:last-child) {
        margin-right: 20px;
      }
      img {
        cursor: pointer;
      }
    }
  }
  .footnav2 {
    margin: 100px 0 30px 0;
    li a {
      color: $grey40;
      text-decoration: none;
    }
    li:not(:last-child) {
      margin-bottom: 10px;
    }
    li:last-child {
      margin-bottom: 50px;
    }
  }
  .footnav3 {
    @extend .footnav2;
  }
  .footnav4 {
    margin: 100px 0 30px 0;
    li {
      list-style: none;
    }
    span {
      color: $secondary-color;
    }
    p {
      line-height: 140%;
    }
  }

  .copyright {
    border-top: 1px solid lightgray;
    p {
      text-align: center;
      margin: 30px auto;
      color: $grey40;
    }
  }
}

@media (max-width: 768px) {
  .news-img {
    display: none;
  }
  #intro {
    background-image: none;
  }
  // .stats-item {
  //   display: block;
  // }
}
